Repository GeorgeLeePatterson/qdrant-datafusion, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, release, dependencies, ci, tests, benchmarks, examples

fix: implements analyzer coverage for INSERSECT/EXCEPT DISTINCT
  README.md
  docs/CAPABILITY_MATRIX.md
  docs/DECISIONS.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  docs/STATUS.md
  src/analyzer/relation_pushdown.rs
Labels: documentation

refactor: housekeeping and some module refactor
  README.md
  docs/CAPABILITY_MATRIX.md
  docs/DECISIONS.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  docs/STATUS.md
  src/analyzer/count_pushdown.rs
  src/analyzer/facet_pushdown.rs
  src/analyzer/relation_pushdown.rs
  src/analyzer/relation_pushdown/classify.rs
  src/analyzer/relation_pushdown/extract.rs
  src/analyzer/relation_pushdown/mergeable.rs
  src/context/plan_node.rs
  src/pushdown.rs
  src/pushdown/filter.rs
  src/pushdown/filter/lower.rs
  src/pushdown/filter/normalize.rs
  src/pushdown/filter/value.rs
  src/table.rs
  src/table/exec.rs
  src/table/provider.rs
  src/table/scroll.rs
Labels: documentation

refactor: continued functionalization of existing code
  src/analyzer/common.rs
  src/analyzer/count_pushdown.rs
  src/analyzer/facet_pushdown.rs
  src/analyzer/relation_pushdown.rs
  src/analyzer/relation_pushdown/classify.rs
  src/analyzer/relation_pushdown/extract.rs
  src/analyzer/relation_pushdown/mergeable.rs
Labels: none

refactor: some final reorg before moving to new feature work wrt table pushdown
  src/pushdown.rs
  src/table.rs
  src/table/exec.rs
  src/table/provider.rs
  src/table/pushdown.rs
  src/table/scroll.rs
Labels: none

fix: addresses empty, null, and integer facet pushdown
  AGENTS.md
  README.md
  docs/CAPABILITY_MATRIX.md
  docs/DECISIONS.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  docs/README.md
  docs/STATUS.md
  src/analyzer/facet_pushdown.rs
  src/context/plan_node.rs
  src/pushdown.rs
  src/pushdown/filter.rs
  src/pushdown/filter/lower.rs
  src/pushdown/filter/normalize.rs
  src/table.rs
  src/table/pushdown.rs
  tests/e2e.rs
Labels: documentation, tests

fix: empty scalar values are explicitly treated as orginary SQL values
  README.md
  docs/CAPABILITY_MATRIX.md
  docs/DECISIONS.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  docs/STATUS.md
  src/pushdown/filter.rs
  tests/e2e.rs
Labels: documentation, tests

refactor: begins full implementation of logical plan node structure
  README.md
  docs/CAPABILITY_MATRIX.md
  docs/DECISIONS.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  docs/README.md
  docs/STATUS.md
  src/analyzer/count_pushdown.rs
  src/analyzer/facet_pushdown.rs
  src/analyzer/relation_pushdown.rs
  src/analyzer/relation_pushdown/classify.rs
  src/analyzer/relation_pushdown/extract.rs
  src/arrow/deserialize.rs
  src/context.rs
  src/context/plan_node.rs
  src/context/planner.rs
  src/prelude.rs
  src/table.rs
  tests/e2e.rs
Labels: documentation, tests

wip: refactoring analyzer from first-principles
  README.md
  docs/CAPABILITY_MATRIX.md
  docs/DECISIONS.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  docs/README.md
  docs/STATUS.md
  src/analyzer.rs
  src/analyzer/common.rs
  src/analyzer/op_pushdown.rs
  src/analyzer/prototype.rs
  src/analyzer/query_pushdown.rs
  src/analyzer/relation_pushdown.rs
  src/analyzer/relation_pushdown/classify.rs
  src/analyzer/relation_pushdown/extract.rs
  src/analyzer/relation_pushdown/mergeable.rs
  src/arrow/deserialize.rs
  src/context.rs
  src/context/plan_node.rs
  src/error.rs
  src/expr_fn.rs
  src/lib.rs
  src/prelude.rs
  src/pushdown.rs
  src/pushdown/filter.rs
  src/pushdown/filter/lower.rs
  src/pushdown/filter/normalize.rs
  src/pushdown/filter/value.rs
  src/stream.rs
  src/table.rs
  src/table/exec.rs
  src/table/provider.rs
  src/table/pushdown.rs
  src/table/scroll.rs
  src/test_utils.rs
  tests/e2e.rs
Labels: documentation, tests

refactor: groups and organizes prototype.rs
  src/analyzer/prototype.rs
Labels: none

refactor: integrates prototype module back into library
  src/analyzer.rs
  src/analyzer/common.rs
  src/analyzer/count_pushdown.rs
  src/analyzer/facet_pushdown.rs
  src/analyzer/kernel.rs
  src/analyzer/node.rs
  src/analyzer/op.rs
  src/analyzer/op_pushdown.rs
  src/analyzer/prototype.rs
  src/analyzer/query.rs
  src/analyzer/query_pushdown.rs
  src/analyzer/relation_pushdown.rs
  src/analyzer/relation_pushdown/classify.rs
  src/analyzer/relation_pushdown/extract.rs
  src/analyzer/relation_pushdown/mergeable.rs
  src/analyzer/source.rs
  src/analyzer/state.rs
  src/analyzer/surface.rs
  src/context.rs
Labels: none

fix: addresses remaining crate integration of new analyzer
  src/analyzer.rs
  src/analyzer/kernel.rs
  src/analyzer/node.rs
  src/analyzer/op.rs
  src/analyzer/query.rs
  src/analyzer/source.rs
  src/analyzer/state.rs
  src/arrow/deserialize.rs
  src/context.rs
  src/context/exec.rs
  src/context/plan_node.rs
  src/context/planner.rs
  src/table.rs
Labels: none

refactor: updates plan exec
  src/analyzer/query.rs
Labels: none

refactor: continued reorg of exec and analyzer
  src/analyzer.rs
  src/analyzer/kernel.rs
  src/analyzer/kernel/count.rs
  src/analyzer/kernel/facet.rs
  src/analyzer/kernel/query.rs
  src/analyzer/node.rs
  src/analyzer/op.rs
  src/analyzer/query.rs
  src/analyzer/query/context.rs
  src/analyzer/query/discover.rs
  src/analyzer/query/formula.rs
  src/analyzer/query/fusion.rs
  src/analyzer/query/nearest.rs
  src/analyzer/query/nearest_with_mmr.rs
  src/analyzer/query/order_by.rs
  src/analyzer/query/recommend.rs
  src/analyzer/query/relevance_feedback.rs
  src/analyzer/query/sample.rs
  src/analyzer/source.rs
  src/analyzer/state.rs
  src/analyzer/state/composite.rs
  src/analyzer/state/fatal.rs
  src/analyzer/state/kernel.rs
  src/analyzer/state/local.rs
  src/analyzer/state/processing.rs
  src/analyzer/state/source.rs
  src/context/exec.rs
  src/context/planner.rs
  src/table.rs
Labels: none

refactor: addresses query group and coordinated families
  src/analyzer.rs
  src/analyzer/kernel/query.rs
  src/analyzer/op.rs
  src/analyzer/query.rs
  src/analyzer/query/context.rs
  src/analyzer/query/discover.rs
  src/analyzer/query/formula.rs
  src/analyzer/query/fusion.rs
  src/analyzer/query/nearest.rs
  src/analyzer/query/nearest_with_mmr.rs
  src/analyzer/query/order_by.rs
  src/analyzer/query/recommend.rs
  src/analyzer/query/relevance_feedback.rs
  src/analyzer/query/sample.rs
  src/analyzer/state/composite.rs
  src/analyzer/state/processing.rs
  src/analyzer/state/source.rs
  src/analyzer/surface.rs
  src/context/exec.rs
  src/context/planner.rs
  src/expr_fn.rs
  src/table.rs
Labels: none

fix: additional changes to coordinated state, nearest, and plan coverage
  src/analyzer/query.rs
  src/analyzer/query/nearest.rs
  src/analyzer/state/composite.rs
  src/analyzer/surface.rs
  src/expr_fn.rs
  src/expr_fn/nearest.rs
  src/prelude.rs
  src/table.rs
Labels: none

fix: refactors formula to use proper sql semantics
  src/analyzer.rs
  src/analyzer/kernel/query.rs
  src/analyzer/op.rs
  src/analyzer/query.rs
  src/analyzer/query/formula.rs
  src/analyzer/state/composite.rs
  src/analyzer/state/kernel.rs
  src/expr_fn.rs
  src/expr_fn/formula.rs
  src/prelude.rs
  src/table.rs
Labels: none

fix: coordinated state and formula expansion
  src/analyzer/query/formula.rs
  src/analyzer/state.rs
  src/analyzer/state/composite.rs
  src/expr_fn.rs
  src/expr_fn/common.rs
  src/expr_fn/formula.rs
  src/prelude.rs
  src/pushdown.rs
  src/table.rs
Labels: none

fix: batchable expansion
  src/analyzer/state/composite.rs
  src/table.rs
Labels: none

feat: introduces optimizer
  src/analyzer.rs
  src/analyzer/op.rs
  src/analyzer/optimize.rs
  src/analyzer/query/fusion.rs
  src/analyzer/state/local.rs
  src/analyzer/surface.rs
  src/context.rs
  src/expr_fn.rs
  src/expr_fn/fusion.rs
  src/prelude.rs
  src/table.rs
Labels: none

fix: addresses some discrepancies with optimize
  src/analyzer/kernel/query.rs
  src/analyzer/op.rs
  src/analyzer/optimize.rs
  src/analyzer/query.rs
  src/analyzer/surface.rs
  src/arrow/deserialize.rs
  src/context/exec.rs
  src/table.rs
  src/table/scroll.rs
  tests/e2e.rs
Labels: tests

fix: addresses payload schema using qdrant metadata
  src/analyzer/optimize.rs
  src/analyzer/query/formula.rs
  src/analyzer/source.rs
  src/analyzer/state/source.rs
  src/expr_fn.rs
  src/expr_fn/payload_access.rs
  src/pushdown.rs
  src/table.rs
  src/table/exec.rs
  tests/e2e.rs
Labels: tests

fix: some housekeeping and reorg, docs updates
  README.md
  docs/CAPABILITY_MATRIX.md
  docs/EXECUTION_TRACKER.md
  docs/STATUS.md
  src/analyzer.rs
  src/analyzer/kernel/count.rs
  src/analyzer/kernel/facet.rs
  src/analyzer/kernel/query.rs
  src/analyzer/op.rs
  src/analyzer/optimize.rs
  src/analyzer/query/formula.rs
  src/analyzer/query/order_by.rs
  src/analyzer/source.rs
  src/analyzer/state.rs
  src/analyzer/state/source.rs
  src/context.rs
  src/expr_fn.rs
  src/expr_fn/payload.rs
  src/expr_fn/payload_access.rs
  src/lib.rs
  src/prelude.rs
  src/qdrant.rs
  src/qdrant/filter.rs
  src/qdrant/filter/lower.rs
  src/qdrant/filter/normalize.rs
  src/qdrant/filter/value.rs
  src/table.rs
  src/table/exec.rs
  src/table/provider.rs
  src/table/scan_spec.rs
  tests/e2e.rs
Labels: documentation, tests

feat: introduces append only insert into
  README.md
  docs/CAPABILITY_MATRIX.md
  docs/EXECUTION_TRACKER.md
  docs/STATUS.md
  src/arrow.rs
  src/arrow/serialize.rs
  src/table.rs
  src/table/insert.rs
  src/table/provider.rs
  tests/e2e.rs
Labels: documentation, tests

fix: address test issues with insert into
  src/analyzer/query.rs
  src/arrow/deserialize.rs
  src/arrow/schema.rs
  src/arrow/serialize.rs
  src/qdrant/filter/normalize.rs
  src/table/insert.rs
  src/table/scan_spec.rs
Labels: none

fix: addresses ordering for distributed qdrant
  README.md
  docs/CAPABILITY_MATRIX.md
  docs/DECISIONS.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  docs/STATUS.md
  src/analyzer/query/formula.rs
  src/analyzer/source.rs
  src/analyzer/state/source.rs
  src/table.rs
  src/table/exec.rs
  src/table/provider.rs
  tests/e2e.rs
Labels: documentation, tests

fix: closes sample score
  README.md
  docs/CAPABILITY_MATRIX.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  docs/STATUS.md
  src/expr_fn/common.rs
  src/expr_fn/sample.rs
  src/table.rs
  tests/e2e.rs
Labels: documentation, tests

fix: expands recommend/discover
  README.md
  docs/CAPABILITY_MATRIX.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  docs/STATUS.md
  src/analyzer/query.rs
  src/expr_fn.rs
  src/expr_fn/common.rs
  src/expr_fn/nearest.rs
  src/expr_fn/recommend.rs
  src/prelude.rs
  src/table.rs
  tests/e2e.rs
Labels: documentation, tests

fix: addresses gaps in the naive feedback strategy
  README.md
  docs/CAPABILITY_MATRIX.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  docs/STATUS.md
  src/analyzer/query.rs
  src/analyzer/query/relevance_feedback.rs
  src/expr_fn/common.rs
  src/expr_fn/relevance_feedback.rs
  src/table.rs
  tests/e2e.rs
Labels: documentation, tests

refactor: relaxes order by and sort constraints on sql
  README.md
  docs/CAPABILITY_MATRIX.md
  docs/DECISIONS.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  docs/STATUS.md
  src/analyzer/kernel.rs
  src/analyzer/kernel/facet.rs
  src/analyzer/kernel/query.rs
  src/analyzer/op.rs
  src/analyzer/query.rs
  src/analyzer/state/kernel.rs
  src/analyzer/state/processing.rs
  src/context/exec.rs
  src/qdrant.rs
  src/table.rs
  tests/e2e.rs
Labels: documentation, tests

fix: relaxens plan restriction further
  README.md
  docs/CAPABILITY_MATRIX.md
  docs/DECISIONS.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  docs/STATUS.md
  src/analyzer/op.rs
  src/analyzer/state/local.rs
  src/analyzer/state/processing.rs
  src/table.rs
  tests/e2e.rs
Labels: documentation, tests

fix: addresses further payload filter pushdown
  README.md
  docs/CAPABILITY_MATRIX.md
  docs/DECISIONS.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  docs/STATUS.md
  src/expr_fn.rs
  src/expr_fn/payload_access.rs
  src/expr_fn/payload_predicate.rs
  src/prelude.rs
  src/qdrant.rs
  src/qdrant/filter.rs
  src/qdrant/filter/normalize.rs
  src/table.rs
  tests/e2e.rs
Labels: documentation, tests

fix: geo radius lowering
  README.md
  docs/CAPABILITY_MATRIX.md
  docs/DECISIONS.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  docs/STATUS.md
  src/expr_fn.rs
  src/expr_fn/payload_geo.rs
  src/prelude.rs
  src/qdrant/filter.rs
  src/qdrant/filter/normalize.rs
  src/table.rs
  tests/e2e.rs
Labels: documentation, tests

fix: additional payload filter pushdown
  README.md
  docs/CAPABILITY_MATRIX.md
  docs/DECISIONS.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  docs/STATUS.md
  src/expr_fn.rs
  src/expr_fn/payload_text.rs
  src/prelude.rs
  src/qdrant.rs
  src/qdrant/filter.rs
  src/qdrant/filter/normalize.rs
  src/table.rs
  tests/e2e.rs
Labels: documentation, tests

test: introduces new e2e semantics covering supported vs unsupported sql
  docs/ADMISSION_MATRIX.md
  docs/CAPABILITY_MATRIX.md
  docs/DECISIONS.md
  docs/EXECUTION_TRACKER.md
  docs/README.md
  docs/STATUS.md
  tests/catalog/mod.rs
  tests/e2e.rs
  tests/unsupported_e2e.rs
Labels: documentation, tests

fix: address local fallback in some agg cases for payload
  docs/CAPABILITY_MATRIX.md
  docs/DECISIONS.md
  docs/EXECUTION_TRACKER.md
  docs/STATUS.md
  src/analyzer.rs
  src/analyzer/op.rs
  src/analyzer/payload.rs
  src/analyzer/state/processing.rs
  src/analyzer/state/source.rs
  src/table.rs
  tests/catalog/mod.rs
  tests/e2e.rs
Labels: documentation, tests

fix: 'text_any'
  README.md
  docs/CAPABILITY_MATRIX.md
  docs/DECISIONS.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  src/expr_fn.rs
  src/expr_fn/payload_text.rs
  src/prelude.rs
  src/qdrant/filter.rs
  src/qdrant/filter/normalize.rs
  src/table.rs
  tests/catalog/mod.rs
  tests/e2e.rs
Labels: documentation, tests

fix: geo bbox and polygon
  README.md
  docs/CAPABILITY_MATRIX.md
  docs/DECISIONS.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  src/expr_fn.rs
  src/expr_fn/payload_geo.rs
  src/prelude.rs
  src/qdrant/filter.rs
  src/qdrant/filter/normalize.rs
  src/table.rs
  tests/catalog/mod.rs
  tests/e2e.rs
Labels: documentation, tests

fix: payload nested match
  README.md
  docs/CAPABILITY_MATRIX.md
  docs/DECISIONS.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  docs/STATUS.md
  src/expr_fn.rs
  src/expr_fn/payload_nested.rs
  src/prelude.rs
  src/qdrant.rs
  src/qdrant/filter.rs
  src/qdrant/filter/normalize.rs
  src/table.rs
  tests/catalog/mod.rs
  tests/e2e.rs
Labels: documentation, tests

fix: payload exists
  README.md
  docs/CAPABILITY_MATRIX.md
  docs/DECISIONS.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  docs/STATUS.md
  src/expr_fn.rs
  src/expr_fn/payload_predicate.rs
  src/prelude.rs
  src/qdrant/filter/normalize.rs
  src/table.rs
  tests/catalog/mod.rs
  tests/e2e.rs
Labels: documentation, tests

fix: payload count
  README.md
  docs/CAPABILITY_MATRIX.md
  docs/DECISIONS.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  docs/STATUS.md
  src/expr_fn.rs
  src/expr_fn/payload_predicate.rs
  src/prelude.rs
  src/qdrant/filter/normalize.rs
  src/table.rs
  tests/catalog/mod.rs
  tests/e2e.rs
Labels: documentation, tests

.github/labeler.yml:

# Configuration for PR labeler action

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'

release:
  - changed-files:
    - any-glob-to-any-file:
      - 'RELEASE_NOTES.md'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - '**/Cargo.toml'

ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**'
      - '**/tests/**'
      - '**/*test*'

benchmarks:
  - changed-files:
    - any-glob-to-any-file:
      - 'benches/**'
      - '**/benches/**'

examples:
  - changed-files:
    - any-glob-to-any-file:
      - 'examples/**'
      - '**/examples/**'
