Repository GeorgeLeePatterson/qdrant-datafusion, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, release, dependencies, ci, tests, benchmarks, examples

fix: fact grouping enhancements
  docs/CAPABILITY_MATRIX.md
  docs/DECISIONS.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  docs/STATUS.md
  src/analyzer.rs
  src/analyzer/kernel/facet.rs
  src/analyzer/op.rs
  src/analyzer/state/kernel.rs
  src/analyzer/state/processing.rs
  src/analyzer/state/source.rs
  src/context/exec.rs
  src/table.rs
  tests/catalog/mod.rs
Labels: documentation, tests

fix: extend local fallback to more aggregate
  README.md
  docs/ADMISSION_MATRIX.md
  docs/CAPABILITY_MATRIX.md
  docs/DECISIONS.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  docs/STATUS.md
  src/analyzer/op.rs
  src/analyzer/state/processing.rs
  src/analyzer/state/source.rs
  src/table.rs
  tests/catalog/mod.rs
  tests/e2e.rs
Labels: documentation, tests

fix: widens local support across window and addresses vector name discrepancy
  README.md
  docs/ADMISSION_MATRIX.md
  docs/CAPABILITY_MATRIX.md
  docs/DECISIONS.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  docs/STATUS.md
  src/analyzer/op.rs
  src/analyzer/state/processing.rs
  src/table.rs
  tests/catalog/mod.rs
Labels: documentation, tests

fix: removed remaining 'LIMIT' requirements
  README.md
  docs/ADMISSION_MATRIX.md
  docs/CAPABILITY_MATRIX.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  docs/STATUS.md
  src/analyzer/optimize.rs
  src/table.rs
  tests/catalog/mod.rs
  tests/e2e.rs
Labels: documentation, tests

fix: expr planner updates, supports payload arithmetic
  docs/ADMISSION_MATRIX.md
  docs/CAPABILITY_MATRIX.md
  docs/EXECUTION_TRACKER.md
  docs/STATUS.md
  src/analyzer/op.rs
  src/analyzer/source.rs
  src/arrow/schema.rs
  src/context.rs
  src/context/exec.rs
  src/context/expr_planner.rs
  src/qdrant.rs
  src/table.rs
  src/table/provider.rs
  tests/catalog/mod.rs
  tests/e2e.rs
Labels: documentation, tests

test: expands e2e to account for all join types
  docs/ADMISSION_MATRIX.md
  docs/CAPABILITY_MATRIX.md
  docs/EXECUTION_TRACKER.md
  docs/STATUS.md
  tests/catalog/mod.rs
  tests/e2e.rs
Labels: documentation, tests

test: additional supported cases covered
  docs/ADMISSION_MATRIX.md
  docs/CAPABILITY_MATRIX.md
  docs/EXECUTION_TRACKER.md
  docs/STATUS.md
  tests/catalog/mod.rs
  tests/e2e.rs
Labels: documentation, tests

fix: branch local formula joins
  README.md
  docs/ADMISSION_MATRIX.md
  docs/CAPABILITY_MATRIX.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  docs/STATUS.md
  src/analyzer/optimize.rs
  src/analyzer/query/formula.rs
  src/qdrant/filter/value.rs
  src/table.rs
  tests/catalog/mod.rs
  tests/e2e.rs
Labels: documentation, tests

fix: fusion over local joins
  README.md
  docs/ADMISSION_MATRIX.md
  docs/CAPABILITY_MATRIX.md
  docs/DECISIONS.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  docs/STATUS.md
  src/analyzer/optimize.rs
  src/analyzer/query/fusion.rs
  src/table.rs
  tests/catalog/mod.rs
  tests/e2e.rs
Labels: documentation, tests

fix: expands fusion across join nodes
  README.md
  docs/ADMISSION_MATRIX.md
  docs/CAPABILITY_MATRIX.md
  docs/DECISIONS.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  docs/STATUS.md
  src/analyzer/optimize.rs
  src/analyzer/query.rs
  src/analyzer/query/fusion.rs
  src/table.rs
  tests/catalog/mod.rs
  tests/e2e.rs
Labels: documentation, tests

fix: distinct on widening
  README.md
  docs/ADMISSION_MATRIX.md
  docs/CAPABILITY_MATRIX.md
  docs/DECISIONS.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  docs/STATUS.md
  src/analyzer/op.rs
  src/analyzer/state/processing.rs
  src/table.rs
  tests/catalog/mod.rs
  tests/e2e.rs
Labels: documentation, tests

test: widens sql query support families
  README.md
  docs/CAPABILITY_MATRIX.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  docs/STATUS.md
  tests/catalog/mod.rs
  tests/e2e.rs
Labels: documentation, tests

test: includes additional write-based e2e queries
  README.md
  docs/ADMISSION_MATRIX.md
  docs/CAPABILITY_MATRIX.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  docs/STATUS.md
  tests/catalog/mod.rs
  tests/e2e.rs
Labels: documentation, tests

fix: widens writes
  README.md
  docs/ADMISSION_MATRIX.md
  docs/CAPABILITY_MATRIX.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  docs/README.md
  docs/STATUS.md
  src/table.rs
  src/table/insert.rs
  src/table/provider.rs
  tests/catalog/mod.rs
  tests/e2e.rs
  tests/unsupported_e2e.rs
Labels: documentation, tests

fix: replace into
  README.md
  docs/ADMISSION_MATRIX.md
  docs/CAPABILITY_MATRIX.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  docs/STATUS.md
  src/table.rs
  src/table/provider.rs
  tests/catalog/mod.rs
  tests/e2e.rs
  tests/unsupported_e2e.rs
Labels: documentation, tests

feat: delete preliminarily supported
  README.md
  docs/ADMISSION_MATRIX.md
  docs/CAPABILITY_MATRIX.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  docs/README.md
  docs/STATUS.md
  src/table.rs
  src/table/delete.rs
  src/table/provider.rs
  tests/catalog/mod.rs
  tests/e2e.rs
  tests/unsupported_e2e.rs
Labels: documentation, tests

feat: introduces UPDATE
  README.md
  docs/ADMISSION_MATRIX.md
  docs/CAPABILITY_MATRIX.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  docs/README.md
  docs/STATUS.md
  src/table.rs
  src/table/provider.rs
  src/table/update.rs
  tests/catalog/mod.rs
  tests/e2e.rs
  tests/unsupported_e2e.rs
Labels: documentation, tests

fix: addresses order by updates
  README.md
  docs/CAPABILITY_MATRIX.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  docs/STATUS.md
  src/expr_fn.rs
  src/expr_fn/order_by.rs
  src/prelude.rs
  src/table.rs
  tests/catalog/mod.rs
  tests/e2e.rs
  tests/unsupported_e2e.rs
Labels: documentation, tests

feat: clean rust helper ergonomics
  README.md
  docs/CAPABILITY_MATRIX.md
  docs/EXECUTION_TRACKER.md
  src/analyzer/query/formula.rs
  src/expr_fn.rs
  src/expr_fn/formula.rs
  src/expr_fn/fusion.rs
  src/expr_fn/payload.rs
  src/expr_fn/recommend.rs
  src/expr_fn/sample.rs
  src/prelude.rs
  src/qdrant.rs
  src/table.rs
Labels: documentation

fix: agg alias-shell work and e2e updates
  README.md
  docs/ADMISSION_MATRIX.md
  docs/CAPABILITY_MATRIX.md
  docs/DECISIONS.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  docs/README.md
  docs/STATUS.md
  src/analyzer/source.rs
  src/analyzer/state/source.rs
  src/table.rs
  tests/catalog/mod.rs
  tests/e2e.rs
Labels: documentation, tests

fix: widens agg row-count pushdown
  README.md
  docs/ADMISSION_MATRIX.md
  docs/CAPABILITY_MATRIX.md
  docs/DECISIONS.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  docs/STATUS.md
  src/analyzer/common.rs
  src/analyzer/state/source.rs
  src/table.rs
  tests/catalog/mod.rs
  tests/e2e.rs
Labels: documentation, tests

feat: preserve exact aggregate kernels through literal alias shells
  README.md
  docs/ADMISSION_MATRIX.md
  docs/CAPABILITY_MATRIX.md
  docs/DECISIONS.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  docs/README.md
  docs/STATUS.md
  src/analyzer/state/source.rs
  src/table.rs
  tests/catalog/mod.rs
  tests/e2e.rs
Labels: documentation, tests

fix: address deferred sql cases
  Cargo.lock
  Cargo.toml
  README.md
  docs/ADMISSION_MATRIX.md
  docs/CAPABILITY_MATRIX.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  docs/README.md
  docs/STATUS.md
  src/analyzer/query/order_by.rs
  src/analyzer/state/source.rs
  src/arrow/serialize.rs
  src/context/exec.rs
  src/qdrant.rs
  src/table.rs
  src/table/delete.rs
  src/table/exec.rs
  src/table/mutation.rs
  src/table/provider.rs
  src/table/update.rs
  tests/catalog/mod.rs
  tests/e2e.rs
Labels: documentation, dependencies, tests

docs: updates docs regarding join specifics
  docs/ADMISSION_MATRIX.md
  docs/CAPABILITY_MATRIX.md
  docs/EXECUTION_TRACKER.md
  docs/STATUS.md
  tests/catalog/mod.rs
Labels: documentation, tests

.github/labeler.yml:

# Configuration for PR labeler action

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'

release:
  - changed-files:
    - any-glob-to-any-file:
      - 'RELEASE_NOTES.md'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - '**/Cargo.toml'

ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**'
      - '**/tests/**'
      - '**/*test*'

benchmarks:
  - changed-files:
    - any-glob-to-any-file:
      - 'benches/**'
      - '**/benches/**'

examples:
  - changed-files:
    - any-glob-to-any-file:
      - 'examples/**'
      - '**/examples/**'
