Repository GeorgeLeePatterson/qdrant-datafusion, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, release, dependencies, ci, tests, benchmarks, examples

.github/labeler.yml:

# Configuration for PR labeler action

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'

release:
  - changed-files:
    - any-glob-to-any-file:
      - 'RELEASE_NOTES.md'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - '**/Cargo.toml'

ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**'
      - '**/tests/**'
      - '**/*test*'

benchmarks:
  - changed-files:
    - any-glob-to-any-file:
      - 'benches/**'
      - '**/benches/**'

examples:
  - changed-files:
    - any-glob-to-any-file:
      - 'examples/**'
      - '**/examples/**'

ci: re-enables codecov in ci
  .github/workflows/ci.yml
Labels: ci

fix: implements first pass of TableProvider, includes e2e test
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  src/arrow.rs
  src/error.rs
  src/lib.rs
  src/prelude.rs
  src/stream.rs
  src/table.rs
  src/udfs.rs
  src/utils.rs
  tests/bin/tests.sql
  tests/e2e.rs
Labels: documentation, dependencies, tests

fix: reorganizes, cleans up some deserialize logic
  CLAUDE.md
  src/arrow.rs
  src/arrow/deserialize.rs
  src/arrow/schema.rs
  src/table.rs
  src/test_utils.rs
  tests/e2e.rs
Labels: documentation, tests

test: creates 2 new tests for table providers
  src/arrow/schema.rs
  tests/e2e.rs
Labels: tests

refactor: refactors qdrant record batch builder
  src/arrow.rs
  src/arrow/deserialize.rs
Labels: none

test: increases test coverage to > 90%
  .justfile
  CLAUDE.md
  src/arrow/deserialize.rs
  src/table.rs
  tests/e2e.rs
Labels: documentation, tests

fix: fixes lints
  src/arrow/deserialize.rs
Labels: none

docs: updates README, updates doc comments
  README.md
  src/arrow/deserialize.rs
  src/arrow/schema.rs
  src/stream.rs
  src/table.rs
  src/utils.rs
Labels: documentation

docs: patches lint warnings in README
  README.md
Labels: documentation

fix: implements first pass of TableProvider, includes e2e test (#4)
  .justfile
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  README.md
  src/arrow.rs
  src/arrow/deserialize.rs
  src/arrow/schema.rs
  src/error.rs
  src/lib.rs
  src/prelude.rs
  src/stream.rs
  src/table.rs
  src/test_utils.rs
  src/udfs.rs
  src/utils.rs
  tests/bin/tests.sql
  tests/e2e.rs
Labels: documentation, dependencies, tests

chore: prepare release v0.1.0
  CHANGELOG.md
  RELEASE_NOTES.md
Labels: documentation, release

chore: prepare release v0.1.0 (#5)
  CHANGELOG.md
  RELEASE_NOTES.md
Labels: documentation, release

chore: fixes cargo category
  Cargo.toml
Labels: dependencies

docs: updates README
  README.md
Labels: documentation

chore: prepare release v0.1.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  RELEASE_NOTES.md
Labels: documentation, release, dependencies

fix: important last minute fix, pulls method out of public interface
  Cargo.lock
  Cargo.toml
  src/lib.rs
  src/table.rs
Labels: dependencies

chore: prepare release v0.1.1 (#6)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  RELEASE_NOTES.md
  src/lib.rs
  src/table.rs
Labels: documentation, release, dependencies

fix: adds scaffolding to support payload filters
  README.md
  src/builder.rs
  src/constants.rs
  src/expr.rs
  src/lib.rs
  src/table.rs
  src/utils.rs
Labels: documentation

fix: removes redundant with_payload_filters
  src/table.rs
Labels: none

fix: WIP implementing payload filtering
  CLAUDE.md
  src/expr.rs
  src/table.rs
  src/test_utils.rs
  src/utils.rs
  tests/e2e.rs
Labels: documentation, tests

fix: adds first pass of payload and id filtering
  CLAUDE.md
  src/builder.rs
  src/expr.rs
  src/expr/filters.rs
  src/expr/utils.rs
  src/table.rs
  tests/e2e.rs
Labels: documentation, tests

refactor: refactors filters
  .justfile
  Cargo.toml
  src/expr/filters.rs
  src/expr/utils.rs
  src/lib.rs
  src/table.rs
Labels: dependencies

fix: WIP adding majority of filter support
  CLAUDE.md
  coverage.lcov
  current_coverage.lcov
  full_coverage.lcov
  src/expr/filters.rs
  tests/e2e.rs
Labels: documentation, tests

fix: WIP fixing filter tests
  CLAUDE.md
  src/builder.rs
  src/expr/filters.rs
  tests/e2e.rs
Labels: documentation, tests

chore: upgrade to DataFusion 50
  Cargo.lock
  Cargo.toml
  src/arrow/deserialize.rs
Labels: dependencies

chore: setting up a clean workspace for future work
  .claude/settings.local.json
  Cargo.lock
  Cargo.toml
  docs/CAPABILITY_MATRIX.md
  docs/DECISIONS.md
  docs/EXECUTION_TRACKER.md
  docs/README.md
  docs/STATUS.md
Labels: documentation, dependencies

refactor: normalizes code to interface between ndarrow and qdrant
  .justfile
  AGENTS.md
  Cargo.lock
  Cargo.toml
  docs/EXECUTION_TRACKER.md
  docs/STATUS.md
  src/arrow/deserialize.rs
  src/arrow/schema.rs
  src/error.rs
  src/table.rs
  src/test_utils.rs
  src/udfs.rs
  src/utils.rs
  tests/e2e.rs
Labels: documentation, dependencies, tests

chore: ignores .claude dir
  .claude/settings.local.json
  .gitignore
Labels: none

chore: updates rust and reapplies formatting
  src/lib.rs
Labels: none

fix: introduces order by pushdown support and paged queries to qdrant
  AGENTS.md
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/CAPABILITY_MATRIX.md
  docs/DECISIONS.md
  docs/EXECUTION_TRACKER.md
  docs/README.md
  docs/STATUS.md
  src/arrow/deserialize.rs
  src/arrow/schema.rs
  src/lib.rs
  src/pushdown.rs
  src/stream.rs
  src/table.rs
  src/udfs.rs
  src/utils.rs
  tests/bin/tests.sql
  tests/e2e.rs
Labels: documentation, dependencies, tests

fix: implements preliminary order by pushdown support
  README.md
  docs/CAPABILITY_MATRIX.md
  docs/DECISIONS.md
  docs/EXECUTION_TRACKER.md
  docs/STATUS.md
  src/pushdown.rs
  src/table.rs
  tests/e2e.rs
Labels: documentation, tests

fix: introduces initial filter pushdown semantics
  Cargo.lock
  Cargo.toml
  README.md
  docs/CAPABILITY_MATRIX.md
  docs/DECISIONS.md
  docs/EXECUTION_TRACKER.md
  docs/STATUS.md
  src/pushdown.rs
  src/pushdown/filter.rs
  src/table.rs
  tests/e2e.rs
Labels: documentation, dependencies, tests

feat: implements the safest 'OR' case
  README.md
  docs/CAPABILITY_MATRIX.md
  docs/DECISIONS.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  docs/README.md
  docs/STATUS.md
  src/pushdown/filter.rs
  src/table.rs
  tests/e2e.rs
Labels: documentation, tests

feat: predicate algebra represented as real provider-owned boolean IR
  README.md
  docs/CAPABILITY_MATRIX.md
  docs/DECISIONS.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  docs/README.md
  docs/STATUS.md
  src/pushdown/filter.rs
  src/table.rs
  tests/e2e.rs
Labels: documentation, tests

feat: introduces planners, context helpers, and facet pushdown
  README.md
  docs/CAPABILITY_MATRIX.md
  docs/DECISIONS.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  docs/README.md
  docs/STATUS.md
  src/analyzer.rs
  src/analyzer/common.rs
  src/analyzer/count_pushdown.rs
  src/analyzer/facet_pushdown.rs
  src/context.rs
  src/context/plan_node.rs
  src/context/planner.rs
  src/lib.rs
  src/prelude.rs
  src/pushdown.rs
  src/pushdown/filter.rs
  src/table.rs
  tests/e2e.rs
Labels: documentation, tests

test: adds tests targeting nulls
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  docs/STATUS.md
  src/pushdown/filter.rs
  tests/e2e.rs
Labels: documentation, tests

fix: extends null syntax support for payload
  README.md
  docs/CAPABILITY_MATRIX.md
  docs/DECISIONS.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  docs/STATUS.md
  src/arrow/schema.rs
  src/pushdown/filter.rs
  tests/e2e.rs
Labels: documentation, tests

refactor: introduces unified analyzer, ports count and facet
  README.md
  docs/CAPABILITY_MATRIX.md
  docs/DECISIONS.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  docs/STATUS.md
  src/analyzer.rs
  src/analyzer/count_pushdown.rs
  src/analyzer/facet_pushdown.rs
  src/analyzer/relation_pushdown.rs
  src/context.rs
Labels: documentation

fix: continues work on relation pushdown, subtree analysis
  README.md
  docs/CAPABILITY_MATRIX.md
  docs/DECISIONS.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  docs/STATUS.md
  src/analyzer/relation_pushdown.rs
  src/context.rs
Labels: documentation

fix: extends relational pushdown
  README.md
  docs/CAPABILITY_MATRIX.md
  docs/DECISIONS.md
  docs/EXECUTION_TRACKER.md
  docs/QDRANT_COMPATIBILITY_MATRIX.md
  docs/STATUS.md
  src/analyzer/relation_pushdown.rs
  src/pushdown/filter.rs
  src/table.rs
Labels: documentation
